<div class="tpl-login">
  <div class="tpl-login-content">
    <div class="tpl-login-title">注册用户</div>
    <span class="tpl-login-content-info">
    创建一个新的用户
    </span>

    <form class="am-form tpl-form-line-form" id="registerForm">
      <div class="am-form-group">
        <input name="username" type="text" class="tpl-form-input"  placeholder="用户名">
      </div>

      <div class="am-form-group">
        <input name="email" type="text" class="tpl-form-input"  placeholder="邮箱">
      </div>

      <div class="am-form-group">
        <input name="password" type="password" class="tpl-form-input"  placeholder="请输入密码">
      </div>

      <div class="am-form-group">
        <button type="button" class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success  tpl-login-btn" id="save">提交</button>
      </div>
    </form>
  </div>
</div>

{{#extend "scripts"}}
<script type="text/javascript">
  ;(function(){
    $("#save").on("click", function(){
      var data = {
        name: d.qs("#registerForm input[name=username]").value,
        email: d.qs("#registerForm input[name=email]").value,
        password: d.qs("#registerForm input[name=password]").value
      }

      fetch('/flow/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(function(res) {
        return res.json()
      }).then(function(json){
        if(json.code === 200){
          location.href = 'http://localhost:4000/users/login'
        }
      })

    })
  })()
</script>
{{/extend}}
